@import 'colors';

.Nav {
  height: 35px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color-dark;
}

.Nav-item {
  color: $primary-text-color !important;
}
